<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>664612965235-n3bc41t3qdoig2o0qcbvt4mrppeal6t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664612965235-n3bc41t3qdoig2o0qcbvt4mrppeal6t7</string>
	<key>API_KEY</key>
	<string>AIzaSyDuj5UnIH8tjGiKd_W1JHes2rcU-4SsA84</string>
	<key>GCM_SENDER_ID</key>
	<string>664612965235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulsurette.Time-on-Ice</string>
	<key>PROJECT_ID</key>
	<string>time-on-ice</string>
	<key>STORAGE_BUCKET</key>
	<string>time-on-ice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664612965235:ios:02a9c6fb2cda966f</string>
	<key>DATABASE_URL</key>
	<string>https://time-on-ice.firebaseio.com</string>
</dict>
</plist>